@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  color: white;
  background-color: #050505;
  box-sizing: border-box;
}

main {
  margin-top: 20px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: Lato, sans-serif;
}

main > p {
  text-align: center;
  padding: 5px;
}
main > h2 {
  font-size: 2rem;
  text-decoration: underline;
}

/* Introductory part styles */
main > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gray;
}

#intro-text {
  animation: appear 1.5s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

#logos {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#logos > img {
  height: 200px;
  width: 30%;
}

/* Planning part styles */
main > h3 {
  font-size: 1.3rem;
  color: rgb(218, 114, 114);
  text-decoration: underline;
  align-self: flex-start;
}

.planning {
  align-self: flex-start;
  list-style: square inside none;
  font-size: 1.1rem;
}

.planning > li {
  margin: 5px 0;
}

/* Best Moments section styles */

#best_moments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#best_moments > img {
  width: 40%;
  /* filter:hue-rotate(100) */
  opacity: 0.8;
  border-radius: 10px;
}
 
#best_moments > img:hover {
  cursor: pointer;
  opacity: 1;
  border: 1px solid red;
}

.subheader {
  color: gray;
  font-style: italic;
  font-size: 0.95rem;
}

/* Adujstments to make section paragraphs look better on larger screens */
@media only screen and (min-width: 768px) {
  main > p {
    width: 70%;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  main > p {
    width: 50%;
    font-size: 1.2rem;
  }
}

/* Make each image narrower on wider screens ( >= tablets ) to fit more images per row */
@media only screen and (min-width: 768px) {
  #best_moments > img {
    width: 30%;
  }
}