@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  color: white;
  background-color: #050505;
  box-sizing: border-box;
}

main {
  margin-top: 50px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: Lato, sans-serif;
}

main > h1, h2, h3 { /* Flex properties reduce width which causes problems with headers on smaller screens */
  width: 100%;
  text-align: center;
}

main > p {
  text-align: center;
  padding: 5px;
}
main > h2 {
  font-size: 2rem;
  text-decoration: underline;
}

/* Introductory part styles */
main > h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gray;
}

#intro-text {
  animation: appear 1.5s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

#logos {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#logos > img {
  width: 33%;
  border-radius: 30px;
  border: 5px outset rgb(165, 46, 46)
}

/* Planning part styles */
main > h3 {
  width: 100%;
  font-size: 1.3rem;
  color: rgb(218, 114, 114);
  text-decoration: underline;
  text-align: left;
}

.planning {
  align-self: flex-start;
  list-style: square inside none;
  font-size: 1.1rem;
}

.planning > li {
  margin: 5px 0;
}

/* Best Moments section styles */

#best_shots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#best_shots > img {
  width: 40%;
  /* filter:hue-rotate(100) */
  opacity: 0.8;
  border-radius: 10px;
}
 
#best_shots > img:hover {
  cursor: pointer;
  opacity: 1;
  border: 1px solid red;
}

.subheader {
  color: gray;
  font-style: italic;
  font-size: 0.95rem;
}

/* FAQ section styles */
.answer, .question {
  text-align: left;
  font-size: 1.1rem;
  padding: 5px;
}

.answer > span {
  color: rgb(218, 114, 114);
  font-weight: bold;
  text-decoration: underline;
}

.question {
  color: rgb(180, 92, 92);
  font-weight: bold;
  text-decoration: underline;
}

.QA {
  width: 70%;
  border: 4px dashed rgb(97, 53, 53);
  padding: 10px;
  margin: 10px;
}

/* To account for the fact that FAQ doesn't have enough content to be able to get scrolled past, add some empty space
at the bottom of the page */
#hacky-navbar-fix {
  height: 50vh;
}

@media only screen and (min-width: 768px) {
  /* Adujstments to make section paragraphs look better on larger screens */
  main > p {
    width: 70%;
    font-size: 1.1rem;
  }
  /* Make each image narrower on wider screens ( >= tablets ) to fit more images per row */
  #best_moments > img {
    width: 30%;
  }
  /* Make logos smaller on larger screens */
  #logos > img {
    width: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  main > p {
    width: 50%;
    font-size: 1.2rem;
  }
}
