@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Navbar styles */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* This line prevents pictures from stacking above the navbar */
  z-index: 1; 
  min-height: 40px;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  background-color: #F71735;
  align-items: center;
}
nav > button {
  background-color: rgb(95, 95, 95);
  color: rgba(255, 255, 255, 0.74);
  padding: 7px;
  border-radius: 5px;
  border: none;
  min-width: 10%;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

nav > button:hover, .active {
  background-color: rgb(158, 158, 158);
  color: rgb(29, 29, 29);
  font-weight: bold;
  transition: 0.4s;
}

.home_icon {
  position: absolute;
  left: 5px;
  cursor: pointer;
}
.home_icon:hover {
  width: 27px;
  color: white;
}

.home_button {
  display: none;
}

#language_button {
  text-decoration: underline;
  align-self: center;
  font-family: 'Lato', sans-serif;
  color: rgb(22, 22, 22);
  cursor: pointer;
}

#language_button:hover {
  text-decoration-style: double;
}

/* Navbar styles for larger screens */
@media only screen and (min-width: 1200px) {
  .home_button {
    display: inline-block;
  }
  .home_icon {
    display: none;
  }
  nav {
    justify-content: flex-start;
    align-items: normal;
    padding: 0;
  }
  nav > button {
    border-radius: 0;
    border-right: 1px solid black;
  }
  nav > button:nth-child(6) {
    border: none;
  }
  #language_button {
    margin-left: auto;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  nav > button {
    font-size: 0.7rem;
  }
}